<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dineflow.mapper.SetmealMapper">

    <select id="setmealPageQuery" resultType="com.dineflow.vo.SetmealVO">
        select s.*, c.name as category_name
        from setmeal s
        left join category c on s.category_id = c.id
        <where>
            <if test="dto.name != null and dto.name != ''">
                and s.name like concat('%',#{dto.name},'%')
            </if>
            <if test="dto.categoryId != null">
                and s.category_id = #{dto.categoryId}
            </if>
            <if test="dto.status != null">
                and s.status = #{dto.status}
            </if>
        </where>
        order by s.update_time desc ,s.id asc
    </select>

    <select id="getSetmealOverView" resultType="com.dineflow.vo.SetmealOverViewVO">
        select count(case when status = 0 then 1 end) as `discontinued`,
               count(case when status = 1 then 1 end) as `sold`
        from setmeal
    </select>
</mapper>
