<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dineflow.mapper.ShoppingCartMapper">
    <select id="selectForUpdate" resultType="com.dineflow.entity.ShoppingCart">
        select * from shopping_cart
        where user_id = #{userId}
        and id in
        <foreach collection="cartItemIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        order by id
        for update
    </select>

    <delete id="deleteSelectedItems">
        delete from shopping_cart
        where user_id = #{userId}
        and (
        <foreach collection="items" item="item" separator=" or ">
            (id = #{item.cartItemId} and version = #{item.cartVersion})
        </foreach>
        )
    </delete>
</mapper>
